@{
	ViewData["Title"] = "Index";
}
<div class="body-sale">
	<div class="row">
		@* <div class="col-md-6 colsm-6">
		<img src="Images_nhut\Group 66.png" alt="Alternate Text" class="w-100" />
		</div>
		<img src="Images_nhut\Group 68.png" alt="Alternate Text" class="col-md-6 col-sm-6" /> *@
		<img src="Images_nhut\Group 69.png" alt="Alternate Text" />
	</div>
	<div class="container-fluid d-flex justify-content-center">
		<div class="row align-middle">
			<div class="col-md-3 col-sm-3">
				<div class="card text-center thesale mb-3">
					<div class="card-body spGiamGia">
						<img src="Images_nhut\Rectangle 115.png" alt="Alternate Text" class="w-100 pt-3" />
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="card text-center thesale mb-3">
					<div class="card-body spGiamGia">
						<img src="Images_nhut\Rectangle 115.png" alt="Alternate Text" class="w-100 pt-3" />
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="card text-center thesale mb-3">
					<div class="card-body spGiamGia">
						<img src="Images_nhut\Rectangle 115.png" alt="Alternate Text" class="w-100 pt-3" />
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="card text-center thesale mb-3">
					<div class="card-body spGiamGia">
						<img src="Images_nhut\Rectangle 115.png" alt="Alternate Text" class="w-100 pt-3" />
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="container-fluid d-flex justify-content-center mb-3">
		<div class="card col-md-10 col-sm-10">
			<div class="card-header" style="background-color:#9BB4A1">
				<div class="row">
					<div class="col-md-6">
						<n class="fw-bold text-danger">FLASH SALE</n>
						<n class="text-black text-center p-1" style="border-radius: 5px; border: none; background-color: white; width:20px;">02</n>:
						<n class="text-black text-center p-1" style="border-radius: 5px; border: none; background-color: white; width:20px;">02</n>:
						<n class="text-black text-center p-1" style="border-radius: 5px; border: none; background-color: white; width:20px;">02</n>
					</div>
					<div class="col-md-6">
						<a href="#" class="text-black float-end">Xem thêm</a>
					</div>
				</div>
				
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-2 col-sm-2 m-auto text-center mb-3">
						<img src="Images_nhut\Rectangle 115.png" alt="Alternate Text" class="w-75" />
						<div>ĐẮC NHÂN TÂM</div>
						<del>145.000</del>
						<div class="text-danger">80.000VNĐ</div>
						<div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar bg-danger" style="width: 100%">100%</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-2 m-auto text-center mb-3">
						<img src="Images_nhut\Rectangle 115.png" alt="Alternate Text" class="w-75" />
						<div>ĐẮC NHÂN TÂM</div>
						<del>145.000</del>
						<div class="text-danger">80.000VNĐ</div>
						<div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar bg-danger" style="width: 100%">100%</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-2 m-auto text-center mb-3">
						<img src="Images_nhut\Rectangle 115.png" alt="Alternate Text" class="w-75" />
						<div>ĐẮC NHÂN TÂM</div>
						<del>145.000</del>
						<div class="text-danger">80.000VNĐ</div>
						<div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar bg-danger" style="width: 100%">100%</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-2 m-auto text-center mb-3">
						<img src="Images_nhut\Rectangle 115.png" alt="Alternate Text" class="w-75" />
						<div>ĐẮC NHÂN TÂM</div>
						<del>145.000</del>
						<div class="text-danger">80.000VNĐ</div>
						<div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar bg-danger" style="width: 100%">100%</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-2 m-auto text-center mb-3">
						<img src="Images_nhut\Rectangle 115.png" alt="Alternate Text" class="w-75" />
						<div>ĐẮC NHÂN TÂM</div>
						<del>145.000</del>
						<div class="text-danger">80.000VNĐ</div>
						<div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar bg-danger" style="width: 100%">100%</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<img src="Images_nhut\Frame 24.png" alt="Alternate Text" class="w-100" />

	<!-- Button trigger modal -->
	<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
		Đăng nhập
	</button>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<ul class="nav nav-tabs d-flex" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<a class="nav-link active" id="product-tab" data-bs-toggle="tab" href="#product" role="tab" aria-controls="product" aria-selected="true">Đăng nhập</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="details-tab" data-bs-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false">Đăng ký</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="product" role="tabpanel" aria-labelledby="product-tab">
						<form action="/" method="post" class="container">
							<div class="mb-3">
								<label class="form-label">Email:</label>
								<input type="email" name="name" value="" class="form-control" placeholder="Nhập Email" style="border-color:green; color:green" />
							</div>
							<div class="mb-3">
								<label class="form-label">Mật khẩu</label>
								<input type="password" name="name" value="" class="form-control" placeholder="Nhập mật khẩu" style="border-color:green; color:green" />
							</div>
							<div class="mb-3 form-check d-flex justify-content-end">
							@* 	<input type="checkbox" class="form-check-input" id="exampleCheck1">
								<label class="form-check-label" for="exampleCheck1">Check me out</label> *@
								<a href="#" class="text-decoration-none">Quên mật khẩu?</a>
							</div>
							<div class="mb-3 d-flex justify-content-around">
								<button type="submit" class="btn btn-success w-50">Đăng nhập</button>
							</div>
						</form>
					</div>
					<div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
						<form action="/" method="post" class="container">
							<div class="mb-3">
								<label class="form-label">Email:</label>
								<input type="email" name="name" value="" class="form-control" placeholder="Nhập Email" style="border-color:green; color:green" />
							</div>
							<div class="mb-3">
								<label class="form-label">Mật khẩu</label>
								<input type="password" name="name" value="" class="form-control" placeholder="Nhập mật khẩu" style="border-color:green; color:green" />
							</div>
							<div class="mb-3">
								<label class="form-label">Mật khẩu</label>
								<input type="text" name="name" value="" class="form-control" placeholder="Nhập mã OTP" style="border-color:green; color:green" />
							</div>
							@* <div class="mb-3 form-check">
								<input type="checkbox" class="form-check-input" id="exampleCheck1">
								<label class="form-check-label" for="exampleCheck1">Check me out</label>
							</div> *@
							<div class="mb-3 d-flex justify-content-around">
								<button type="submit" class="btn btn-success w-50">Đăng Ký</button>
							</div>
						</form>
					
					</div>
				</div>
				@*  <div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
				...
				</div>
				<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
				</div> *@
			</div>
		</div>
	</div>
</div>

