html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.body-sale {
    background-color: #DAECDC;
}

.spGiamGia {
    background-color: #467B76;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.thesale {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
